<template>
    <section>
        <vue-flux
            :options="fluxOptions"
            :images="fluxImages"
            :transitions="fluxTransitions"
            ref="slider">
        </vue-flux>
        <button @click="$refs.slider.showImage('next')">NEXT</button>
    </section>
</template>
<script>
    import { VueFlux, Transitions } from 'vue-flux';

    export default {
        components: {
            'vue-flux': VueFlux
        },
        data: () => ({
            fluxOptions: {
                autoplay: true
            },
            fluxImages: [
                'src/assets/csgo.jpg',
                'src/assets/lol.jpg',
                'src/assets/dota.jpg'
            ],
            fluxTransitions: {
                transitionTurn3d: Transitions.transitionTurn3d
            }
        })
    }
</script>